.content {
  background: #fff;
  padding: 20px 20px 20px 20px;
}
.btn {
  border-radius: 0;
}

.btn-secondary {
  background: #eaeaea;
  border-color: #000;
  margin-right: 10px;
}
a.btn {
  text-decoration: none;
  color: black;
}
