<div class="content">
  <div class="mt-4">
    <h3>File Management</h3>
    <div>
      <a class="btn btn-secondary" [routerLink]="['/app/file-management/home']">
        <i class="fa fa-file" aria-hidden="true">&nbsp;</i>My Files</a>
      <a class="btn btn-secondary" [routerLink]="['/app/file-management/upload-file']">
        <i class="fa fa-upload" aria-hidden="true">&nbsp;</i>Upload a New File</a>
      <a class="btn btn-secondary" [routerLink]="['/app/file-management/create-title']">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create a New Title</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>