<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <p>{{getPageText()}}</p>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mt-0">
                <li class="page-item" [ngClass]="{'disabled': currentPage == 1}">
                    <span class="page-link" (click)="triggerChange(currentPage=currentPage > 1 ? currentPage-1 : 1)">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                </li>
                <li class="page-item" [ngClass]="{'disabled': currentPage == maxPageSize}">
                    <span class="page-link" (click)="triggerChange(currentPage < maxPageSize ? currentPage + 1 : currentPage)">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>