/* Content CSS */
.content{
    background: #fff;
    padding:20px 20px 20px 20px;
}
.content h3{
    color: #000;
    font-weight: bold;
}
.btn{
    border-radius: 0;
    font-size: 12px;
    width: 20%;
    text-align: left;

    &.active {
        background: #ffc527;
    }
}
.btn-secondary{
    background: white;
    border-color: #000;
    margin-right: 10px;
}
.content h4{
    color: #000;
    font-weight: bold;
    padding-top: 20px;
}
/* Form CSS */
form {
    padding-top: 0;
}
form label{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}
form button{
    height: 25px;
}
form .btn{
    padding: 0;
    margin-right: 0;
}
#orderbtn{
    text-align: right;

    button {
        padding: 0px 5px;
        background: #ffc527;
        border: none;
        height: 40px;
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 20px;
    }
}
.input-group-addon{
    background: #fff;
}

input, textarea {
    width: 100%;
}